name: Build

on:
  push:
    paths:
      - ".github/workflows/build.yml"
      - "build.yaml"
      - "config/**"
  pull_request:
    paths:
      - ".github/workflows/build.yml"
      - "build.yaml"
      - "config/**"
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
